{{ 'component-description-with-logo.css' | asset_url | stylesheet_tag }}

<div class="description-with-logo__section">
    <h1 class="description-with-logo__title">Title</h1>
    <p class="description-with-logo__paragraph">paragraph</p>
    <div class="description-with-logo__logosWrapper">

    </div>
</div>

{% schema %}
{
    "name": "t:sections.description-with-logo.name",
    "tag": "section",
    "settings": [
        {
            "type": "header",
            "id": "title-section",
            "default": "Title",
            "label": "t:sections.description-with-logo.settings.title.label"
        },
        {
            "type": "textarea",
            "id": "paragraph-section",
            "default": "Paragraph",
            "label": "t:sections.description-with-logo.settings.paragraph.label"
        }
    ],
    "blocks": [
        {
            "type": "logo",
            "id": "logos",
            "name": "logos"
        }
    ]
}
{% endschema %}