.product-recommendations {
  display: block;
}

.product-recommendations__heading {
  margin: 0;
  margin-bottom: 3rem;
}

.list__recommendations {
  display: flex;
  /* align-items: flex-end; */
  list-style: none;
  flex-wrap: wrap;
}

.item__recommendations {
  margin-right: 5%;
}